.blue {
    background-color: #3498db; /* Blu */
}

.green {
    background-color: #2ecc71; /* Verde chiaro */
}

.yellow {
    background-color: #f1c40f; /* Giallo */
}

.red {
    background-color: #e74c3c; /* Rosso */
}

.purple {
    background-color: #9b59b6; /* Viola */
}

.orange {
    background-color: #e67e22; /* Arancione */
}

.pink {
    background-color: #e91e63; /* Rosa */
}

.cyan {
    background-color: #00bcd4; /* Ciano */
}

.teal {
    background-color: #009688; /* Verde acqua */
}

.lime {
    background-color: #cddc39; /* Lime */
}

.indigo {
    background-color: #3f51b5; /* Indaco */
}

.brown {
    background-color: #795548; /* Marrone */
}

.grey {
    background-color: #9e9e9e; /* Grigio */
}